streamlit
pandas
numpy
openpyxl
yfinance
scikit-learn
scipy
tqdm
colorama
xlsxwriter
requests
lxml
websocket-client
plotly
https://github.com/rongardF/tvdatafeed/archive/refs/heads/main.zip

